/* Configuração global */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

body {
    height: 100vh;
    background-color: #ede5ed;
}

textarea {
    padding: 8px;
}

a {
    text-decoration: none;
    color: inherit;
}

.empty {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background-color: #ff3c3c;
}

button {
    border: none;
    font-size: 16px;
}

.btn {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    transition: opacity 0.4s;
    width: 200px;
    height: 40px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.btnPrimary {
    background-color: #ff3c3c;
}

.btnSecondary {
    background-color: #22252f;
}

.btnAdd {
    width: 250px;
    gap: 10px;
    margin-bottom: 50px;
    justify-content: flex-start;
}

.icon {
    margin-left: 20px;
    width: 25px;
    height: 25px;
}

.cardContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subTitle {
    font-size: 16px;
    font-weight: bold;
}

.cardContainerContent {
    width: 90%;
    max-width: 1200px;
    height: 90%;
    max-height: 990px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.cardBody {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

form {
    max-width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    align-items: center;
    font-size: 18px;
}
input {
    background-color: #ede5ed;
    border: 0;
    border-radius: 4px;
    height: 30px;
    outline: none;
    padding: 0 8px;
}
/* Style página inicial */
.container {
    display: flex;
    min-height: 100%;
}

/* Sidebar Component */
.sidebarContainer {
    width: 25%;
    background-color: #22252f;
}

.logo-sidebar {
    display: flex;
    align-items: center;
    height: 90px;
    color: #fff;
    padding: 20px;
    font-size: 24px;
}

.logo-sidebar span {
    font-size: 24px;
    color: #ff3c3c;
}

.navContainer {
    height: 60px;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    border-radius: 0;
    transition: background 0.3s;
}

.navContainer:hover {
    background: #ff3c3c;
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px;
}

/* Index Funcionário */
.card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.funcSection {
    width: 265px;
    height: 210px;
    color: #000;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #22252f;
    padding: 8px;
}

.funcName {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.btnShow {
    width: 80px;
    height: 30px;
}

/* Show funcionário */
.showFuncContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.funcTitle {
    font-size: 22px;
}

.cardFooter {
    width: 100%;
    display: flex;
    gap: 10px;
}

.cardShow {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

/* Create Funcionario */

.formGroup {
    display: flex;
    flex-direction: column;
}

/* Estoque */
.formGroup > div {
    display: flex;
    gap: 20px;
}

/* Create Estoque */
.addStock {
    font-size: 16px;
}

/* Index Estoque */
.containerTable {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    margin: 1rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    font-size: 18px;
    width: 100%;
    max-width: 1200px;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
}

tr:hover {
    background-color: #dcd3dc;
}

button {
    color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: opacity 0.3s;
}

button:hover {
    opacity: 0.8;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-edit {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: opacity 0.4s;
    cursor: pointer;

    height: 40px;
}

.btn-edit:hover {
    opacity: 0.8;
}

.trash {
    margin: 5px;
}

/* Show Estoque */
.containerShow {
    display: flex;
    flex-direction: column;
}

.containerShowTable {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
}

.cardContainerShow {
    margin: 2rem;
    width: 75%;
    /* max-width: 1200px; */
    height: 90%;
    /* max-height: 990px; */
    padding: 2rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

cardContainerShow > .cardShowStock {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.btnShowStock {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

@media (max-width: 900px) {
    .navContainer p {
        opacity: 0;
        display: none;
    }
    .profileSection {
        display: none;
    }

    .navContainer .icon {
        margin-right: 20px;
    }
}

@media (max-height: 700px) {
    .formGroup {
        flex-direction: row;
        gap: 10px;
    }
}

/* Pedidos */

.items-cardapio {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.checkbox {
    width: 20px;
    height: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

#numero_mesa {
    width: 50px;
    background-color: transparent;
    border: 1px solid #22252f;
    border-radius: 8px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

#status {
    padding: 8px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #22252f;
    border-radius: 8px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
